arosics>=1.2.6
geoarray>=0.12.3
geopandas>=0.10.2
ipython>=7.29.0
numpy>=1.21.2
pandas>=1.2.2
rasterio>=1.2.0
rioxarray>=0.4.0
scikit-learn>=1.0.1
shapely>=1.7.1
xarray>=0.17.0
opencv>=4.5.3

